<html>
<head>
  <meta charset="utf-8">
  <title>IF</title>
</head>
<body>
  <a href="/">&larr; вернуться</a><br />
  <iframe src="http://iplayif.com/?story=<%= params[:url] %>" height="550" width="550"></iframe>
</body>
</html>